
/* CONFIG. GERAIS */
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    background-color: #101131df;
    color: whitesmoke;
    overflow-x: hidden;
    text-justify: center; 
}

h1, h2 {
    text-align: center;
    margin: 15px 0;
    text-shadow: 2px 3px 10px #2f2549ba;
}
p {
    text-align: center;
}
ul, li {
    list-style: none;
}
#containerResultados {
    overflow-x: auto;
}
table {
    max-width: 97vw;
    margin: 10px;
    border-collapse: collapse;
    text-align: center;
}
th, td {
    padding: 8px;
    border: 1px solid #333;
}
th {
    background: #444;
    color: whitesmoke;
}
td {
    background: whitesmoke;
    color: #07080d;
}
section {
    width: 100vw;
    margin: 25px auto;
    justify-content: center;
    align-items: center;
}
input {
    display: block;
    width: 60vw;
    margin: 10px auto;
    padding: 8px;
    text-align: center;
    border-radius: 20px;
    background: whitesmoke;
    color: #07080d;
}
.butao {
    width: 35vw;
    border: none;
    border-radius: 30px;
    margin: 15px auto;
    background: #7b3c91da;
    color: whitesmoke;
    box-shadow: 2px 3px 15px #2e0758b5;
}
#tabelaDeResultados {
    white-space: nowrap;
}